<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Products</title>
  </head>
  <body>
    <% if(products.length === 0) { %>
    <h1>No products yet!</h1>
    <% } else { %>
    <div class="cards-container">
      <% products.map(product => { %>
      <div class="card">
        <div class="card-header">
          <h2 class="card-title"><%= product.title%></h2>
        </div>
        <div class="card-body">
          <p class="card-price">$ <%= product.price%></p>
          <p class="card-description"><%= product.describtion%></p>
          <a class="card-btn card-anchor" href="/products/<%= product._id%>"
            >Details</a
          >
          <a class="card-btn card-edit" href="/edit-product/<%= product._id%>"
            >Edit</a
          >
          <form class="form-delete" action="/delete-product" method="POST">
            <input type="hidden" value="<%= product._id %>" name="id" />
            <button class="card-btn card-delete" type="submit">Delete</button>
          </form>
        </div>
      </div>
      <% }); %>
    </div>
    <% } %>
  </body>
</html>
